* {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(199, 225, 243, 0.445);
    font-family: 'Roboto Flex', sans-serif;
    width: 100vw;
    height: 100vh;
}



.container {
    /* margin-top: 100px; */
    width: min(95%, 70rem); 
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    display: grid;
    gap: 1.5rem;
    
}
/* 
.daniel-clifford:nth-child(1) {
    grid-area: one;
}

.jonathan-walter:nth-child(2) {
    grid-area: two;
}

.jeanette-harmon:nth-child(3) {
    grid-area: three;
}

.patrick-abrams:nth-child(4) {
    grid-area: four;
}

.kira-whittle:nth-child(5) {
    grid-area: five;
} */

/* Typography */

h1 {
    font-size: 1rem;
}

h2 {
    font-size: 1.15rem;
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: 700;
}

.white-par {
    font-size: 1.1rem;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.747);
}

.black-par {
    font-size: 1.1rem;
    line-height: 23px;
    color: rgb(114, 112, 112);
}

.white {
    font-size: .89rem;
    color: rgba(255, 255, 255, 0.637);
}

.black {
    font-size: .89rem;
    color: rgba(rgba(155, 155, 155, 0.637));
}

.dark {
    color: #000;
}

/* ----------------------------------- */


.box {
    display: flex;
}

/* Image set 1 */

.img-box {
    width: 2.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box img {
    width: 100%;
    border-radius: 50%;
}

/* ----------------------------------- */

/* Image set 2 */

.img-box2 {
    width: 2.5rem;
    border-radius: 50%;
    border: 2px solid #000;
    margin-right: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box2 img {
    width: 100%;
    border-radius: 50%;
}

/* ----------------------------------- */




/* First Box - Daniel Clifford */

.daniel-clifford {
    background: rgba(101, 12, 184, 0.753);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
}

/* ----------------------------------- */



/* Second Box - Jonathan Walter */

.jonathan-walter {
    background: rgb(104, 104, 141);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
}

/* ----------------------------------- */



/* Third Box - Jeanette Harmon */

.jeanette-harmon {
    background: #fff;
    color: #fff;
    border-radius: 10px;
    padding: 30px;
}

/* ----------------------------------- */



/* Fourth Box - Jeanette Harmon */

.patrick-abrams {
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
}

/* ----------------------------------- */



/* Fifth Box - Jeanette Harmon */

.kira-whittle {
    background: #fff;
    color: #fff;
    border-radius: 10px;
    padding: 30px;
}


/* At large screen size */

@media (min-width: 50em) {
    
    .container {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "dc dc jw kw"
            "jh pa pa kw";
    }

    .daniel-clifford {
        grid-area: dc;
    }

    .jonathan-walter {
        grid-area: jw;
    }
}

