* {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(199, 225, 243, 0.445);
    font-family: 'Roboto Flex', sans-serif;
}



.container {
    margin-top: 10px;
    width: 90%;
    max-width: 350px;
    min-width: 250px;
    /* max-width: 350px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Typography */

h1 {
    font-size: 1rem;
}

h2 {
    font-size: 1.29rem;
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: 700;
}

.white-par {
    line-height: 23px;
    color: #fff;
}

.black-par {
    line-height: 23px;
    color: #000;
}

.white {
    font-size: .89rem;
    color: rgba(255, 255, 255, 0.637);
}

.black {
    font-size: .89rem;
    color: rgba(#aaa);
}

.dark {
    color: #000;
}

/* ----------------------------------- */


.box {
    display: flex;
}

.img-box {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 20px;
    margin-bottom: 30px;
}

.img-box img {
    width: 100%;
    border-radius: 50%;
}

/* ----------------------------------- */




/* First Box - Daniel Clifford */

.daniel-clifford {
    background: rgba(101, 12, 184, 0.753);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}

/* ----------------------------------- */



/* Second Box - Jonathan Walter */

.jonathan-walter {
    background: rgb(104, 104, 141);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}

/* ----------------------------------- */



/* Third Box - Jeanette Harmon */

.jeanette-harmon {
    background: #fff;
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}